<!-- CONTROL DEVICE -->
<div class="site-section" style="background-color: #24292e;">
    <div class="container ">
        <div class="row mb-4 ">
            <div class="col-md-7">
                <h2 class="heading-21921 text-white text-center">Device</h2>
            </div>
        </div>
        <div class="row text-white align-items-center text-center h-100">
            <div id="light" class="shadow col-md-4 status-button border rounded-lg justify-content-center mb-2" style="height:150px; border: none; " type="submit">
                <div class="row justify-content-center mb-4">
                    <h5 class="text-white font-weight-bold px-1">Light</h5>
                </div>
                <div class="row justify-content-center">
                    <div class="d-flex flex-row">
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                            <button type="button" class="btn btn-secondary"><span data-feather="sun"></span></button>
                        </div>
                        <div class="btn-group mr-2" role="group" aria-label="Second group">
                            <button type="button" class="btn btn-secondary"><span data-feather="sun"></span></button>
                        </div>
                        <div class="btn-group mr-2" role="group" aria-label="Third group">
                            <button type="button" class="btn btn-secondary"><span data-feather="moon"></span></button>
                        </div>
                        <div class="btn-group mr-2" role="group" aria-label="Fourth group">
                            <button type="button" class="btn btn-secondary"><span data-feather="sun"></span></button>
                        </div>
                        <div class="btn-group mr-2" role="group" aria-label="Fifth group">
                            <button type="button" class="btn btn-secondary"><span data-feather="moon"></span></button>
                        </div>
                        <div class="btn-group mr-2" role="group" aria-label="All group">
                            <button type="button" class="btn btn-success"><span data-feather="power"></span></button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="light" class="shadow col-md-4 status-button border rounded-lg justify-content-center mb-2 " style="height:150px; border: none; " type="submit">
                <div class="row justify-content-center mb-4">
                    <h5 class="text-white font-weight-bold px-1">Ventilation</h5>
                </div>
                <div class="row justify-content-center">
                    <div class="d-flex flex-row">
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                            <button type="button" class="btn btn-secondary"><span data-feather="aperture"></span></button>
                        </div>
                        <div class="btn-group mr-2" role="group" aria-label="Second group">
                            <button type="button" class="btn btn-secondary"><span data-feather="circle"></span></button>
                        </div>
                        <div class="btn-group mr-2" role="group" aria-label="Third group">
                            <button type="button" class="btn btn-secondary"><span data-feather="circle"></span></button>
                        </div>
                        <div class="btn-group mr-2" role="group" aria-label="Fourth group">
                            <button type="button" class="btn btn-secondary"><span data-feather="chrome"></span></button>
                        </div>
                        <div class="btn-group mr-2" role="group" aria-label="Fifth group">
                            <button type="button" class="btn btn-secondary"><span data-feather="aperture"></span></button>
                        </div>
                        <div class="btn-group mr-2" role="group" aria-label="All group">
                            <button type="button" class="btn btn-danger"><span data-feather="power"></span></button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="light" class="shadow col-md-4 status-button border rounded-lg justify-content-center mb-2" style="height:150px; border: none; " type="submit">
                <div class="row justify-content-center mb-4">
                    <h5 class="text-white font-weight-bold px-1">Air Condition</h5>
                </div>
                <div class="row justify-content-center">
                    <div class="d-flex flex-row">
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                            <button type="button" class="btn btn-secondary"><span data-feather="minus-circle"></span></button>
                        </div>
                        <div class="btn-group mr-2" role="group" aria-label="Fourth group">
                            <div type="button" class="btn border text-white">
                                <span class="font-weight-bold"> 30<span>°C</span></span>
                            </div>
                        </div>
                        <div class="btn-group mr-2" role="group" aria-label="Second group">
                            <button type="button" class="btn btn-secondary"><span data-feather="plus-circle"></span></button>
                        </div>

                        <div class="btn-group mr-2" role="group" aria-label="All group">
                            <button type="button" class="btn btn-danger"><span data-feather="power"></span></button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="light" class="shadow col-md-4 status-button border rounded-lg justify-content-center mb-2" style="height:150px; border: none; " type="submit">
                <div class="row justify-content-center mb-4">
                    <h5 class="text-white font-weight-bold px-1">Windows</h5>
                </div>
                <div class="row justify-content-center">
                    <div class="d-flex flex-row">
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                            <button type="button" class="btn btn-secondary"><span data-feather="columns"></span></button>
                        </div>
                        <div class="btn-group mr-2" role="group" aria-label="Second group">
                            <button type="button" class="btn btn-secondary"><span data-feather="columns"></span></button>
                        </div>
                        <div class="btn-group mr-2" role="group" aria-label="Third group">
                            <button type="button" class="btn btn-secondary"><span data-feather="columns"></span></button>
                        </div>
                        <div class="btn-group mr-2" role="group" aria-label="Fourth group">
                            <button type="button" class="btn btn-secondary"><span data-feather="columns"></span></button>
                        </div>
                        <div class="btn-group mr-2" role="group" aria-label="Fifth group">
                            <button type="button" class="btn btn-secondary"><span data-feather="columns"></span></button>
                        </div>
                        <div class="btn-group mr-2" role="group" aria-label="All group">
                            <button type="button" class="btn btn-success"><span data-feather="power"></span></button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="light" class="shadow col-md-4 status-button border rounded-lg justify-content-center mb-2" style="height:150px; border: none; " type="submit">
                <div class="row justify-content-center mb-4">
                    <h5 class="text-white font-weight-bold px-1">PCCC</h5>
                </div>
                <div class="row justify-content-center">
                    <div class="d-flex flex-row">
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                            <button type="button" class="btn btn-secondary"><span data-feather="droplet"></span></button>
                        </div>
                        <div class="btn-group mr-2" role="group" aria-label="Second group">
                            <button type="button" class="btn btn-secondary"><span data-feather="droplet"></span></button>
                        </div>
                        <div class="btn-group mr-2" role="group" aria-label="Third group">
                            <button type="button" class="btn btn-secondary"><span data-feather="droplet"></span></button>
                        </div>
                        <div class="btn-group mr-2" role="group" aria-label="Fourth group">
                            <button type="button" class="btn btn-secondary"><span class="font-weight-bold">EMERGENCY</span></button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="light" class="shadow col-md-4 status-button border rounded-lg justify-content-center mb-2" style="height:150px; border: none; " type="submit">
                <div class="row justify-content-center mb-4">
                    <h5 class="text-white font-weight-bold px-1">Other</h5>
                </div>
                <div class="row justify-content-center">
                    <div class="d-flex flex-row">
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                            <button type="button" class="btn btn-secondary"><span data-feather="droplet"></span></button>
                        </div>
                        <div class="btn-group mr-2" role="group" aria-label="Second group">
                            <button type="button" class="btn btn-secondary"><span data-feather="droplet"></span></button>
                        </div>
                        <div class="btn-group mr-2" role="group" aria-label="Third group">
                            <button type="button" class="btn btn-secondary"><span data-feather="droplet"></span></button>
                        </div>
                        <div class="btn-group mr-2" role="group" aria-label="Fourth group">
                            <button type="button" class="btn btn-secondary"><span class="font-weight-bold">EMERGENCY</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>