<div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h4 class="my-0 font-weight-bold">News</h4>
        </div>
        <div class="card-body">
            <figure class="figure">
                <img src="static/images/home/iot_news.jpg" class="figure-img img-fluid rounded" alt="images Iots News">
                <figcaption class="figure-caption text-right"> News portal IoTs Of Domestic and World</figcaption>
            </figure>
            <button type="button" class="btn btn-lg btn-block btn-outline-success">Sign up for free</button>
        </div>
    </div>
    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h4 class="my-0 font-weight-bold">Solutions</h4>
        </div>
        <div class="card-body">
            <figure class="figure">
                <img src="static/images/home/solutions_iot.png" class="figure-img img-fluid rounded" alt="images solutions IoTs.">
                <figcaption class="figure-caption text-right"> Providing solutions about IoT etc.</figcaption>
            </figure>
            <button type="button" class="btn btn-lg btn-block btn-success">Get started</button>
        </div>
    </div>
    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h4 class="my-0 font-weight-bold">Blogs</h4>
        </div>
        <div class="card-body">
            <figure class="figure">
                <img src="static/images/home/blog.jpg" class="figure-img img-fluid rounded" alt="images solutions IoTs.">
                <figcaption class="figure-caption text-right"> Share with you my information, Tutorial, Blog</figcaption>
            </figure>
            <a type="button" class="btn btn-lg btn-block btn-success text-white" href="/blog.html">Go to blog</a>
        </div>
    </div>